{% extends 'base.html' %}
{% load static %}
{% block title %}
Welcome To Vinyl Yard
{% endblock %}

{% block main %}
 <!-- carousel -->
	  <section>
		  <div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/5.png' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/6.png' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/7.png' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
      </section>
    <!-- end carousel -->
    <br>
    <section class="hero">
      <div class="container">
        <h1>Where Music Finds Its Groove</h1>
      </div>
    </section>

   <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">
            <h2 style="italics">Welcome To The Yard</h2>
            <p>Step into a world where the timeless melodies and soulful beats of vinyl records reign supreme.
              At Vinyl Yard, we celebrate the artistry of music, paying homage to the rich history of classic records while
              embracing the boundless possibilities of digital streaming. Immerse yourself in a curated collection of tracks
              spanning genres, eras, and moods. From the iconic sounds of rock 'n' roll to the smooth rhythms of jazz and the
              electrifying beats of hip-hop, Vinyl Yard offers an unparalleled sonic experience that transcends time.</p>
            <br>
            <p>Whether you're a seasoned collector or a curious explorer, Vinyl Yard is your ultimate destination for discovering,
              enjoying, and embracing the magic of music. Start your sonic adventure today and let Vinyl Yard be the gateway to your musical bliss!</p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
            <img src="{% static 'images/pic3.png' %}" style="height: 500px; width: 600px" alt="art">
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->
  <br>
    <section>
      <div class="container">
        <h2>Latest Releases</h2>
        <div class="row">
          {% for name,art in albums.items %}
          <div class="col-sm-2">
            <a href="{{ art.0 }}">
              <img src="{{ art.1 }}" class="img-fluid">
            </a>
            <figcaption><strong>{{ name }}</strong></figcaption>
            <figcaption>{{ art.2 }}</figcaption>
          </div>
          {% endfor %}
        </div>
    </div>
    </section>
{% endblock %}


