{% extends 'base.html' %}
{% load static %}
{% block title %}
Search for artist
{% endblock %}
{% block main %}
<h1> {{ artist_name }} </h1>
<section>
      <div class="container">
          <div class="row content">
            <div class="col-lg-6" data-aos="fade-right">
            <img src="{{ large_image }}"  class="rounded-circle" width="400px">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
              <a href="{{ album_static.0 }}">
                  <img src="{{ med_image }}" class="rounded-circle" width="120px">
              </a>
          </div>
          </div>
          <hr>
        <h2>Top Tracks</h2>
        <div class="row">
          {% for song,art in songs.items %}
          <div class="col-sm-2">
            <a href="#">
              <img src="{{ art.0 }}" class="img-fluid">
            </a>
            <figcaption><strong>{{ song }}</strong></figcaption>
          </div>
          {% endfor %}
        </div>
    </div>
    </section>
<br>
<br>
    <section>
      <div class="container">
        <h2>Album Releases</h2>
        <div class="row">
          {% for name,art in info.items %}
          <div class="col-sm-2">
              <a href="{% url 'search_album:album_page' album_id=art.1 artist_name=artist_name %}"">
                  <img src="{{ art.0 }}" class="img-fluid">
              </a>
            <figcaption><strong>{{ name }}</strong></figcaption>
          </div>
          {% endfor %}
        </div>
    </div>
    </section>
{% endblock %}